@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="col-12">
        <h1 class="Login__label mt-4 text-center">@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post" class="col-6 offset-3">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center pt-4">
                    <button type="submit" class="btn btn-success" style="min-width: 150px">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
