@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="col-12">
        <h1 class="Register__label mt-4">@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="col-8 offset-2">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-6">
                    <h4 class="custom-orange-color">Client Info</h4>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.MiddleName"></label>
                        <input asp-for="Input.MiddleName" class="form-control" />
                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Phone"></label>
                        <input asp-for="Input.Phone" class="form-control" />
                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <h4 class="custom-orange-color">Account Info</h4>
                    <div class="form-group">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" style="min-width: 150px">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}