html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.card-buttons a, .card-buttons form {
    display: inline-block;
}

.card-buttons a, .card-buttons input {
    padding: 10px;
    font-weight: bold;
}


.card-button-new {
    text-align: center;
}

.card-button-new a {
    font-weight: bold;
}

.iframe {
    width: 100%;
    height: 200px;
}

.game-nav-container {
    padding-bottom: 20px;
    text-align: center;
}

.form-buttons {
    text-align: right;
}

.form-buttons input, .form-buttons a {
    width: 150px;
}